<div class="form-group" style="margin:auto; padding:7px;">
    <div class="col-sm-6">
        <select ng-disabled="!projectCtrl.projects.items.length" dropdown is-open="projectCtrl.projects.isOpen" ng-change="projectCtrl.update()" class="form-control" ng-model="projectCtrl.projects.selected" ng-options="project.name for project in projectCtrl.projects.items track by project.id">
            <option ng-repeat="project in projectCtrl.projects.items" value="{{project.id}}">{{project.name}}</option>
        </select>
    </div>
    <button ng-click="projectCtrl.addTeam()" class="btn btn-default"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add</button>
    <button ng-click="projectCtrl.editUsers()" ng-disabled="!hmCtrl.isAdmin" class="btn btn-info"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
    <button ng-click="projectCtrl.delete()" ng-disabled="!hmCtrl.isAdmin" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
</div>