html, body, #fullheightAndWidth {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
}

/*#region off canvas*/
.off-canvas__nav {
    -webkit-transform: translate3d(0, 0, 0) translateX(-250px);
    -ms-transform: translate3d(0, 0, 0) translateX(-250px);
    -moz-transform: translate3d(0, 0, 0) translateX(-250px);
    -o-transform: translate3d(0, 0, 0) translateX(-250px);
    transform: translate3d(0, 0, 0) translateX(-250px);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
}

.off-canvas__content {
    -webkit-transform: translate3d(0, 0, 0) translateX(0);
    -ms-transform: translate3d(0, 0, 0) translateX(0);
    -moz-transform: translate3d(0, 0, 0) translateX(0);
    -o-transform: translate3d(0, 0, 0) translateX(0);
    transform: translate3d(0, 0, 0) translateX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
}

.is-off-canvas-opened .off-canvas__nav {
    -webkit-transform: translate3d(0, 0, 0) translateX(0);
    -ms-transform: translate3d(0, 0, 0) translateX(0);
    -moz-transform: translate3d(0, 0, 0) translateX(0);
    -o-transform: translate3d(0, 0, 0) translateX(0);
    transform: translate3d(0, 0, 0) translateX(0);
}

.is-off-canvas-opened .off-canvas__content {
    -webkit-transform: translate3d(0, 0, 0) translate(250px);
    -ms-transform: translate3d(0, 0, 0) translate(250px);
    -moz-transform: translate3d(0, 0, 0) translate(250px);
    -o-transform: translate3d(0, 0, 0) translate(250px);
    transform: translate3d(0, 0, 0) translate(250px);
}

/*#endregion*/

.dupa {
    height:100%;
    background-color: red;
    right: 0px;

}


/*#region Modal */

.modal-content input[type="text"], input[type="password"], input[type="email"], select,
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: white;
    border: 1px solid #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.modal-body {
    color:white;
}

.modal-content textarea, select,
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.modal-content input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #444;
    border: 3px solid #555;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-content input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
.modal-content input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
.modal-content input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }


.modal-content button.btn {
	width: 100%;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fd625e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.modal-content button.btn:hover { opacity: 0.6; color: #fff; }

.modal-content button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.modal-content button.btn:focus { outline: 0; opacity: 0.6; background: #fd625e; color: #fff; }

.modal-content button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #fd625e; color: #fff; }
.modal-content {
	background: #3a3a3a;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	border: 0;
	text-align: left;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	background: #333;
	border: 0;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	color: #888;
}

.modal-header .close {
	font-size: 36px;
	color: #eee;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
	color: #eee;
}

.modal-body {
	padding: 25px 25px 30px 25px;
	background: #3a3a3a;
	text-align: left;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-body form textarea {
	height: 100px;
}

.modal-body form .input-error {
	border-color: #fd625e;
}
/*#endregion End of modal*/
md-visually-hidden  {
    z-index:-1000 !important;
    position:absolute;
}

.md-visually-hidden p {
    z-index:-1000 !important;
    position:absolute;
}

.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }


.borderRadiusTopRight {
    -webkit-border-radius: 0 20px 0 50px;
    border-radius: 0 30px 0 30px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.container-fluid {
    padding-top: 53px;
    padding-right: 0px;
    height:inherit;
    min-width: 100% !important;
    width: 102%;
}

.content {
    padding-top: 20px;
    height:inherit;
}

.collapse.in {
    height: auto !important;
}

.sidebar-nav {
    background-color: white;
    margin-top: 53px;
    position: fixed;
    height: 1000px;
}

    .sidebar-nav div a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 12px;
        color: #818181;
        display: block;
    }

    .sidebar-nav a:hover, .offcanvas a:focus {
        background-color: #f1f1f1;
    }

.wrapper {
    background-image: url("../images/background/tlo2.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

nav li a {
    color: white;
}

.page-header {
    color: white;
}

.page-body {
}

/*#region NavBar*/
.navbar {
    background-color: maroon;
    border-bottom: 1px solid white;
}

.navbar-brand {
    color: white;

}

.navbar-top-links li {
    display: inline-block;
}

    .navbar-top-links li:last-child {
        margin-right: 15px;
    }

    .navbar-top-links li a {
        vertical-align: middle;
        text-align: center;
        padding: 10px 15px;
        min-height: 50px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border-left: 1px solid rgba(255,255,255,0.1);
    }

.navbar-top-links .popover-user {
    right: 0;
    left: auto;
}

/*#endregion NavBar*/

/*#region ScrollBar*/
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    padding-top: 10px;
    min-height: 450px;
}

/*#region Scrollbar Style 1 FirstColumn toDoItems*/
#style-0::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
}

#style-0::-webkit-scrollbar {
    width: 16px;
    background-color: none;
}

#style-0::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 90% 90%, 50% 14%, from(#428bca), to(#428bca), color-stop(.6,#428bca));
}
/*#endregion Scrollbar Style 1*/
/*#region Scrollbar Style 2 SecondColumn inProgressItems*/
#style-1::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
}

#style-1::-webkit-scrollbar {
    width: 16px;
    background-color: none;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 90% 90%, 50% 14%, from(#dff0d8), to(#dff0d8), color-stop(.6,#dff0d8));
}
/*#endregion Scrollbar Style 2*/
/*#region Scrollbar Style 3 ThirdColumn doneItems */
#style-2::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
}

#style-2::-webkit-scrollbar {
    width: 16px;
    background-color: none;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 90% 90%, 50% 14%, from(#5cb85c), to(#5cb85c), color-stop(.6,#5cb85c));
}
/*#endregion Scrollbar Style 3*/
/*#endregion ScrollBar*/

/*#region Tasks List 
    ---------------------------------------------------- */
.columnSortable {
    background-image: url("../images/background/tloList2.jpg");
    min-height: 700px;
    max-height: 700px;
    height: 10%;
    overflow-y: scroll;
}

.column {
    padding-left: 15px;
    margin: 0px;
    min-height: 100px;
    height: inherit;
    width: 100%;
}

    .column > li {
        list-style-type: none;
    }

.popover-content {
    width: 200px;
}

.column > li {
    list-style-type: none;
}

.emptyList {
    width: 91%;
    color: whitesmoke;
    font-size: 30px;
    top: 75px;
    opacity: 0.4;
    text-align: center;
    position: absolute;
}

/*#region Task 
    ---------------------------------------------------- */
.x {
    height: 50px;
}

.note {
    height: 65px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

.note-left {
    height: inherit;
    opacity: 0.8;
    background: rgba(255,255,255,1);
}

    .note-left:hover {
        opacity: 1;
        cursor: pointer;
    }

    .note-left > row > div > p {
        margin: 0px;
    }

.note-right {
    background-color: gainsboro;
    height: inherit;
    padding: 0px;
}

.close-note {
    position: absolute;
    color: white;
    right: -4px;
    top: -1px;
    height: 20px;
    width: 20px;
    opacity: 0.4;
}

    .close-note > i {
        font-size: 20px;
        color: black;
        height: inherit;
        width: inherit;
    }

    .close-note > i:hover {
        opacity: 1;
        cursor: pointer;
        color: black;

    }
.note-right-hoverOnClose {
    background-color: white;
}



.xxx {
    height: inherit;
    background-color: white;
    -webkit-border-radius: 0 30px 0 30px;
    border-radius: 0 60px 0 0px;
    padding: 0px;
}

.note-placeholder {
    height: 60px;
    margin-left: 5px;
    background: #ccc;
    -webkit-border-radius: 0 20px 0 50px;
    border-radius: 0 30px 0 0px;
    opacity: 0.7;
}

.note-highlight {
}

.note-name-user {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

.note-description {
    word-wrap: break-word;
    font-size: 12px;
    height: 20px;
}

.icon {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

.icon {
    height: inherit;
    -webkit-border-radius: 0 20px 0 50px;
    border-radius: 0 30px 0 00px;
    border-left: 4px solid;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

    .icon:hover {
        opacity: 1;
        font-size: 15px;
        cursor: pointer;
    }

/*#endregion Task*/

/*#region Type of Task 
    ---------------------------------------------------- */
.Bug {
    margin: 0px;
    color: red;
    height: inherit;
}

.BugIcon {
    color: red;
}

.ChangeRequest {
    margin: 0px;
}

.ChangeRequestIcon {
    color: royalblue;
    height: inherit;
}

.Task {
    margin: 0px;
    height: inherit;
}

.TaskIcon {
    color: darkseagreen;
    height: inherit;
}

/*#endregion Type of Task END */

/*#endregion Tasks List*/
