<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="../app.js"></script>
    <script src="../users/userController.js"></script>
    <script src="../users/userService.js"></script>
    <script src="../teams/teamController.js"></script>
    <script src="../teams/teamService.js"></script>
    <script src="../appService.js"></script>

    <title>Team Management Service</title>

    <meta charset="utf-8" />
</head>
<body ng-app="tmsApp">
    <div ng-controller="userController" ng-init="onInit()">

        <label>logged in as</label>
        <label>{{currentUser.userName}}</label>

        <form>
            <input type="text" ng-model="registerUser.userName" required />
            <input type="text" ng-model="registerUser.password" required />
            <input type="text" ng-model="registerUser.confirmPassword" required />
            <input type="text" ng-model="registerUser.email" required />
            <input type="text" ng-model="registerUser.firstName" required />
            <input type="text" ng-model="registerUser.lastName" required />
            <input type="submit" value="Submit" ng-click="register(registerUser)">
        </form>

        <form>
            <input type="text" ng-model="loginUser.userName" required />
            <input type="text" ng-model="loginUser.password" required />
            <input type="checkbox" ng-model="loginUser.rememberMe" required />
            <input type="submit" value="Submit" ng-click="login(loginUser)">
        </form>

        <button ng-click="logout(currentUser)">Logout</button>
        <label>{{userMsg}}</label>
    </div>

    <div ng-controller="teamController">
        <label>Team Name</label>
        <input type="text" ng-model="newTeam.name" required />
        <input type="submit" value="Submit" ng-click="add(newTeam)">
    </div>
</body>
</html>
