<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="../app.js"></script>
    <script src="../users/userController.js"></script>
    <script src="../users/userService.js"></script>
    <script src="../teams/teamController.js"></script>
    <script src="../teams/teamService.js"></script>
    <script src="../appService.js"></script>
    <script src="../users/userDirective.js"></script>


    <title>Team Management Service</title>

    <meta charset="utf-8" />
</head>
<body ng-app="tmsApp">
    <user></user>
    <div ng-controller="teamController">
        <label>Team Name</label>
        <input type="text" ng-model="newTeam.name" required />
        <input type="submit" value="Submit" ng-click="add(newTeam)">
    </div>
</body>
</html>
