<!DOCTYPE html>
<html>
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="../styles/globalStyles.css" rel="stylesheet" />
    <!-- sb-admin-2 -->
    <link href="../lib/sb-admin-2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../lib/sb-admin-2/css/plugins/timeline.css" rel="stylesheet">
    <link href="../lib/sb-admin-2/css/plugins/morris.css" rel="stylesheet">
    <link href="../lib/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../lib/sb-admin-2/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Java Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../lib/ui-bootstrap/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="../lib/angular-ui-sortable/sortable.min.js"></script>
    <script src="../lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="../app.js"></script>
    <script src="../users/userController.js"></script>
    <script src="../users/userService.js"></script>
    <script src="../teams/projectController.js"></script>
    <script src="../teams/projectService.js"></script>
    <script src="../services/appService.js"></script>
    <script src="../users/userDirective.js"></script>
    <script src="../toDoItems/toDoItemController.js"></script>
    <script src="../toDoItems/toDoItemService.js"></script>
    <script src="../services/httpService.js"></script>
    <script src="../directives/toDoItemDirective.js"></script>
    <script src="../users/login/loginController.js"></script>
    <script src="../users/login/loginDirective.js"></script>
    <script src="../home/homeController.js"></script>
    <script src="../users/logout/logoutController.js"></script>
    <script src="../users/logout/logoutDirective.js"></script>
    <script src="../users/register/registerController.js"></script>
    <script src="../users/register/registerDirective.js"></script>
    <script src="../users/register/registerModalController.js"></script>
    <!-- sb-admin-2 -->
    <script src="../lib/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js"></script>

    <title>Team Management Service</title>

    <script>
        $(function () {
            $("#items").sortable({
                placeholder: "highlight",
                start: function (event, ui) {
                    ui.item.toggleClass("highlight");
                },
                stop: function (event, ui) {
                    ui.item.toggleClass("highlight");
                }
            });
            $("#items").disableSelection();
        });
    </script>

    <meta charset="utf-8" />
</head>
<body ng-app="tmsApp" ng-controller="homeController as hmCtrl" ng-init="hmCtrl.onInit()">
    <div id="fullheightAndWidth" class="wrapper" ng-controller="projectController as projectCtrl">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">{{hmCtrl.currentUser.userName}}</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li ng-show="hmCtrl.isLoggedIn" logout-button></li>
                    <li ng-show="!hmCtrl.isLoggedIn" register-button></li>
                    <li ng-show="!hmCtrl.isLoggedIn" login-button></li>
                </ul>

            </nav>
        </div>

        <div class="container" ng-controller="toDoItemController as toDoCtrl">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            <!-- first column to-do-column -->
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Kolejka
                    </div>
                    <div class="columnSortable" id="style-1">
                        <ul ui-sortable="toDoCtrl.sortableOptions" ng-model="toDoCtrl.toDoItems" id="to-do-column" class="connectedSortable">
                            <li ng-repeat="item in toDoCtrl.toDoItems">
                                <div to-do-item></div>
                            </li>
                        </ul>
                        <div ng-show="toDoCtrl.toDoItems.length == 0" class="emptyList">Empty</div>
                    </div>
                </div>
            </div>
            <!-- second column in-progress-columnn -->
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Realizowane
                    </div>
                    <div class="columnSortable" id="style-2">
                        <ul ui-sortable="toDoCtrl.sortableOptions" ng-model="toDoCtrl.inProgressItems" id="in-progress-column" class="connectedSortable">
                            <li ng-repeat="item in toDoCtrl.inProgressItems">
                                <div to-do-item></div>
                            </li>
                        </ul>
                        <div ng-show="toDoCtrl.inProgressItems.length == 0" class="emptyList">Empty</div>
                    </div>
                </div>
            </div>
            <!-- third column done-column -->
            <div class="col-lg-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Zrealizowane
                    </div>
                    <div class="columnSortable" id="style-3">
                        <ul ui-sortable="toDoCtrl.sortableOptions" ng-model="toDoCtrl.doneItems" id="done-column" class="connectedSortable">
                            <li ng-repeat="item in toDoCtrl.doneItems">
                                <div to-do-item></div>
                            </li>
                        </ul>
                        <div ng-show="toDoCtrl.doneItems.length == 0" class="emptyList">Empty</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
