<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../lib/ui-bootstrap/ui-bootstrap-tpls-2.0.1.min.js"></script>

    <script src="../lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <script src="../app.js"></script>
    <script src="../users/userController.js"></script>
    <script src="../users/userService.js"></script>
    <script src="../teams/projectController.js"></script>
    <script src="../teams/projectService.js"></script>
    <script src="../services/appService.js"></script>
    <script src="../users/userDirective.js"></script>
    <script src="../toDoItems/toDoItemController.js"></script>
    <script src="../toDoItems/toDoItemService.js"></script>
    <script src="../services/httpService.js"></script>


    <title>Team Management Service</title>

    <meta charset="utf-8" />
</head>
<body ng-app="tmsApp">
    <user></user>


    <div ng-controller="projectController as projectCtrl">
        <label>Team Name</label>
        <input type="text" ng-model="newProject.name" required />
        <input type="submit" value="Submit" ng-click="add(newProject)">

        <div class="btn-group" uib-dropdown>
            <button id="single-button" style="min-width:100px" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                {{selectedProject}}
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li ng-repeat="project in projects" ng-click="selectProject(project)">{{project.name}}</li>
            </ul>
        </div>

        <div ng-controller="toDoItemController">
                    <div ng-class="item.type" ng-repeat="item in toDoItems">{{item.name}}, {{item.user.userName}}</div>
        </div>
    </div>

    <style>
        .Bug {
            color:red;
        }

        .ChangeRequest {
            color:cyan;
        }
    </style>
</body>
</html>
