
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="toDoItemEditCtrl.close()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" id="modal-register-label">Task: {{toDoItemEditCtrl.editedToDoItem.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">
                    Name
                </label>
                <div class="col-sm-9">
                    <input class="form-control" id="name" ng-model="toDoItemEditCtrl.editedToDoItem.name" type="text" maxlength="20" required />
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">
                    Description
                </label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="description" ng-model="toDoItemEditCtrl.editedToDoItem.description" type="text" maxlength="100" required />
                </div>
            </div>
            <div class="form-group">
                <label for="user" class="col-sm-3 control-label">
                    User
                </label>
                <div class="col-sm-9">
                    <select style="width:100%" required ng-model="toDoItemEditCtrl.userSelection.selectedOption" ng-options="user.userName for user in toDoItemEditCtrl.userSelection.users track by user.id">
                        <option ng-repeat="user in toDoItemEditCtrl.userSelection.users" value="{{user.id}}">{{user.userName}}</option>
                    </select>                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">
                    Type
                </label>
                <div class="col-sm-9">
                    <select style="width:100%" required ng-model="toDoItemEditCtrl.typeSelection.selectedOption" ng-options="type.value for type in toDoItemEditCtrl.typeSelection.types track by type.id">
                        <option ng-repeat="type in toDoItemEditCtrl.typeSelection.types" value="{{type.id}}">{{user.value}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success btn-sm" ng-disabled="editItemForm.$invalid" ng-click="toDoItemEditCtrl.save(toDoItemEditCtrl.confirmButtonVal)">
                    {{toDoItemEditCtrl.confirmButtonVal}}
                </button>
            </div>
        </div>
    </form>
</div>